@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 20 14.3% 4.1%;
		--muted: 60 4.8% 95.9%;
		--muted-foreground: 25 5.3% 44.7%;
		--popover: 0 0% 100%;
		--popover-foreground: 20 14.3% 4.1%;
		--card: 0 0% 100%;
		--card-foreground: 20 14.3% 4.1%;
		--border: 20 5.9% 90%;
		--input: 20 5.9% 90%;
		--primary: 24 9.8% 10%;
		--primary-foreground: 60 9.1% 97.8%;
		--secondary: 60 4.8% 95.9%;
		--secondary-foreground: 24 9.8% 10%;
		--accent: 60 4.8% 95.9%;
		--accent-foreground: 24 9.8% 10%;
		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 60 9.1% 97.8%;
		--ring: 20 14.3% 4.1%;
		--radius: 0.5rem;
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}

	.dark {
		--background: 20 14.3% 4.1%;
		--foreground: 60 9.1% 97.8%;
		--muted: 12 6.5% 15.1%;
		--muted-foreground: 24 5.4% 63.9%;
		--popover: 20 14.3% 4.1%;
		--popover-foreground: 60 9.1% 97.8%;
		--card: 20 14.3% 4.1%;
		--card-foreground: 60 9.1% 97.8%;
		--border: 12 6.5% 15.1%;
		--input: 12 6.5% 15.1%;
		--primary: 60 9.1% 97.8%;
		--primary-foreground: 24 9.8% 10%;
		--secondary: 12 6.5% 15.1%;
		--secondary-foreground: 60 9.1% 97.8%;
		--accent: 12 6.5% 15.1%;
		--accent-foreground: 60 9.1% 97.8%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 60 9.1% 97.8%;
		--ring: 24 5.7% 82.9%;
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype-variations');
	font-optical-sizing: auto;
	font-weight: 300 700;
	font-style: normal;
}

@font-face {
	font-family: 'FunnelSans';
	src: url('/fonts/Funnel_Sans/FunnelSans-VariableFont_wght.ttf') format('truetype-variations');
	font-optical-sizing: auto;
	font-weight: 300 800;
	font-style: normal;
}

@font-face {
	font-family: 'Karla';
	src: url('/fonts/Karla/Karla-VariableFont_wght.ttf') format('truetype-variations');
	font-optical-sizing: auto;
	font-weight: 300 800;
	font-style: normal;
}

@font-face {
	font-family: 'Incosolota';
	src: url('/fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf')
		format('truetype-variations');
	font-optical-sizing: auto;
	font-weight: 200 900;
	font-style: normal;
}

@font-face {
	font-family: 'FunnelDisplay';
	src: url('/fonts/Funnel_Display/FunnelDisplay-VariableFont_wght.ttf')
		format('truetype-variations');
	font-optical-sizing: auto;
	font-weight: 300 900;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'LondrinaSolid';
	src: url('/fonts/Londrina_Solid/LondrinaSolid-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'GloriaHallelujah';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/Gloria_Hallelujah/GloriaHallelujah-Regular.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'LondrinaOutline';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/Londrina_Outline/LondrinaOutline-Regular.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'ITC';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/AvantGardeGothicPro/ITCAvantGardePro-Bold.otf');
	font-display: swap;
}

@font-face {
	font-family: 'YujiBoku-Regular';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/YujiBoku-Regular.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'YujiSyuku-Regular';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/YujiSyuku-Regular.ttf');
	font-display: swap;
}
